<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

  <li class="nav-item">
    <i class="nav-icon fa fa-dashboard"></i>
    <p>Dashboard</p>
  </li>

  <li class="nav-item">
    <i class="nav-icon fa fa-building"></i>
    <p>My Organization</p>
  </li>

  <li class="nav-item">
    <i class="nav-icon fa fa-cog"></i>
    <p>Edit My Organization</p>
  </li>

  <li class="nav-item">
    <i class="nav-icon fa fa-edit"></i>
    <p>Essentials Requests</p>
  </li>

  <li class="nav-item">
    <i class="nav-icon fa fa-users"></i>
    <p>Families</p>
  </li>

  <li class="nav-item">
    <i class="nav-icon fa fa-child"></i>
    <p>Children</p>
  </li>
</ul>
